{% extends "base.html" %}

{% block app_content %}
  <main>

    {% if form %}
      <form action="" method="post" class="ui form">
        <div class="ui segment">
          {{ form.hidden_tag() }}

            <div class="field">
              {{ form.name.label }}<br>
              {{ form.name }}
            </div>
            <div class="field">
              {{ form.description.label }}<br>
              {{ form.description }}
            </div>

            <div class="field">
              {{ form.image_url.label }}<br>
              {{ form.image_url }}
            </div>
            <div class="field">
              {{ form.category_id.label }}<br>
              {{ form.category_id }}
            </div>
            <div class="field">
              {{ form.price.label }}<br>
              {{ form.price }}
            </div>

          {{ form.submit(class="ui button") }}
          <div class="ui error message"></div>
        </div>
      </form>
    {% endif %}

</main>
{% endblock %}
