<li class="dropdown">
    <a href="{{ url_for('catalog.index') }}" class="dropdown-toggle"
      data-toggle="dropdown"> Categories </a>

    <ul class="dropdown-menu">
    {% for category in categories %}
      <li>
        <a href="{{ url_for('catalog.index', category_id=category.id) }}"
          class="nav-link">
          {{ category.name }}</a>
      </li>
      {% endfor %}
      <li class="divider"></li>
      <li>
        <a href="{{ url_for('catalog.index') }}" class="nav-link"> ALL </a>
      </li>
    </ul>
</li>
