<nav class="px-5 navbar navbar-expand-lg navbar-light bg-light"
  style="background-color:#fff; color:#fff;">
  <a href="{{ url_for('main.index') }}" class="navbar-brand"> 
    {{_('StationaryShop') }}</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      {% if current_user.role and current_user.is_demo_admin() %}
      <li class="nav-item"> 
        <a href="{{ url_for('catalog_manager.index') }}"
          class="nav-link">" {{_('Manage Catalog') }}</a>
      </li>
      {% endif %}
      {% include '_category_menu.html' %}
    </ul>

    <ul class = "navbar-nav">

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

      {% if current_user.is_anonymous %}
        <li class="nav-item">
          <a href="{{ url_for('account.login') }}"
            class="nav-link">{{_('Login') }}</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('account.register') }}"
            class="nav-link">{{_('Register') }}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <span><a href="#" class="nav-link">{{ current_user.username }}</a></span>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('account.logout') }}" class="nav-link">
            {{_('Logout') }}</a>
        </li>
      {% endif %}

      {% include '_cart_component.html' %}
    </ul>

  </div>
</nav>
