<nav class="px-5 navbar navbar-expand-lg navbar-light bg-light"
  style="background-color:#fff; color:#fff;">
  <a href="{{ url_for('main.index') }}" class="navbar-brand">Stationary Shop</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item"> 
        <a href="{{ url_for('main.index') }}" class="nav-link">Home</a>
      </li>

      {% include '_category_menu.html' %}
    </ul>

    <ul class = "navbar-nav">
      {% if current_user.is_anonymous %}
      <li class="nav-item">
        <a href="{{ url_for('account.login') }}" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('account.register') }}" class="nav-link">Register</a>
      </li>
      {% else %}
      <li class="nav-item">
        <span><a href="#" class="nav-link">Hello {{ current_user.username }}</a></span>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('account.logout') }}" class="nav-link">Logout</a>
      </li>
      {% endif %}
      {% include '_cart_component.html' %}
    </ul>
  </div>
</nav>
