<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% if title %}
      <title>{{ title }} - StationaryShop</title>
    {% else %}
      <title>Welcome to StationaryShop</title>
    {% endif %}

      <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/pulse/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
      <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>



    {% if config.DEVELOPMENT %}
      <!-- Webpack Dev Mode -->
      <link rel="stylesheet" href="http://localhost:8080/static/css/app.css">
    {% else %}
      <!-- Static Build Mode -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
    {% endif %}

    <style>
    .bg-light {
        background-color: #FFFFFF !important;
    }
    </style>

  </head>
  <body class="site">

    {% block navbar %}
      {% include '_navbar.html' %}
    {% endblock %}

    {% block content %}
      <div class="container site-content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              document.addEventListener("DOMContentLoaded", function(event) {
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {

                  new Noty({
                    theme: 'rellax',
                    type: 'info',
                    text: messages[i]
                  }).setTimeout(1500).show();

                } 
               });
            </script>
          {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
      </div>
    {% endblock %}

    {% include '_footer.html' %}

      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js'></script>

      <script src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'></script>
      <script src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js'></script>

      <script src='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js'></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"</script>

    {% if config.DEVELOPMENT %}
      <!-- Webpack Dev Mode -->
      <script src='http://localhost:8080/static/js/app.bundle.js'></script>
    {% else %}
      <!-- Static Build Mode -->
      <script src='/static/js/app.bundle.js'></script>
    {% endif %}

    {% block js  %}{% endblock %}
  </body>
</html>
