<div class="col-lg-3 col-sm-6 col-xs-12">
  <div class="card">
    <img alt="{{ catalog_item.name }} " src="{{ catalog_item.image_url }}"
    class="img-thumbnail">
  <div class="card-body">
    <h5 class="card-title"> {{ catalog_item.name }} </h5>
    <h6 class="card-subtitle mb-2 text-muted"> {{ catalog_item.description
      }}</h6>
    <p class="card-subtitle"> Price: {{ "${:,.2f}".format(catalog_item.price) }}</p>
    <div class="d-flex justify-content-center">

      <a href="{{ url_for('cart.add_to_cart', catalog_item_id=catalog_item.id)
        }}" class="btn btn-primary m-2">
        <i class="fas fa-plus"></i>
      </a>

      <a href="{{ url_for('cart.remove_from_cart',
        catalog_item_id=catalog_item.id) }}" class="btn btn-primary m-2">
        <i class="fas fa-minus"></i>
      </a>
    </div>
  </div>
</div>
</div>
