{% extends "base.html" %}

{% block app_content %}
  <main>

<h2>Your shopping cart</h2>
<h4>Here are the delicious pies in your shopping cart.</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Cart</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for line in cart.cart_items %}
            <tr>
              <td class="text-center"> {{ line.Amount }}</td>
              <td class="text-left">{{ line.catalog_item.name }}</td>
              <td class="text-right">{{ line.catalog_item.price }}</td>
                <td class="text-right">
                    {{ line.amount * line.catalog_item.price }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
            <span> {{ cart_total }}</span>
            </td>
        </tr>
    </tfoot>
</table>

</main>
{% endblock %}
