export FLASK_APP=stationaryshop.py
export FLASK_DEBUG=1
export FLASK_APP_CONFIG=config.DevelopmentConfig


export ADMIN_PASSWORD="P@ssw3rd!"
export ADMIN_EMAIL="mb@email.com"

export PUBLISHABLE_KEY=pk_test_qiltXK59zTk1xGkt4vkDEHk6
export SECRET_KEY=sk_test_JcS77QUmJ6hMLt8hOjVUoyhC

OLD_PYTHON=`which python`
VENV_PATH=`pwd`/venv

if [ ! -d "$VENV_PATH" ]; then
virtualenv $VENV_PATH
fi

source $VENV_PATH/bin/activate
NEW_PYTHON=`which python`

if [ "$OLD_PYTHON" != "$NEW_PYTHON" ]; then
echo "Virtualenv changed"
echo "  from $OLD_PYTHON"
echo "  to   $NEW_PYTHON"
fi
