export FLASK_APP=stationaryshop.py
export FLASK_DEBUG=1
export FLASK_APP_CONFIG=config.DevelopmentConfig

OLD_PYTHON=`which python`
VENV_PATH=`pwd`/venv

if [ ! -d "$VENV_PATH" ]; then
   virtualenv $VENV_PATH
fi

source $VENV_PATH/bin/activate
NEW_PYTHON=`which python`

if [ "$OLD_PYTHON" != "$NEW_PYTHON" ]; then 
   echo "Virtualenv changed"
   echo "  from $OLD_PYTHON"
   echo "  to   $NEW_PYTHON"
fi
